<% product.each do |product| %>
  <section class='all-products'>
    <header>
      <h3>
        <a href="/products/<%= product.id %>">
      <%= product.name %></a>
      </h3>
    </header>

    <!-- <div class="index_transbox">
      <a href="/products/<%= product.id %> ">
      <img src="<%= product.photo_url %>" />
    </a> -->

    <p class='body'><%= "$#{product.discount}" %>
      <%= " - #{product.discount_amount}% off original price"%>
    </p>
  </section>

<% end %>
