<article class="one-product">

  <div class="index-transbox">
    <a href="/products/<%= product.id %> ">
        <img class="display-one" src="<%= product.photo_url %>" />
    </a>
  </div>

  <div class="prod-desc">
  <h3><%= product.name %></h3>
  <p class="details"><%= "Condition: #{product.condition}" %></p>
  <p><%= "Price: $#{product.discount}" %>
    <% if product.discount %>
      <%= " - 10% off original price" if product.condition == 'good' %>
      <%= " - 20% off original price" if product.condition == 'average' %>
      <% else product.price %>
    <% end %></p>
    <p><%= product.category_id %></p>

        <p><%= "#{product.quantity} left!" %></p>
      </div>
    </a>
</article>
