<div id="header">
  Mallory Furniture</div>
<header>
<h3><%= product.name %></h3>

<p><%= product.condition %></p>
<p><%= "$#{product.discount}" %>
  <% if product.discount %>
    <%= " - 10% off original price" if product.condition == 'good' %>
    <%= " - 20% off original price" if product.condition == 'average' %>
  <% end %></p>
<p><%= product.quantity %></p>

</header>
