<article class="full-product">
  <h3><%= product.name %></h3>

  <div class="index-transbox">
    <a href="/products/<%= product.id %> ">
      <div class="image-holder">
        <img src="<%= product.photo_url %>" />
      </div>
  </div>

  <p class="details"><%= product.condition %></p>
  </article>

  <p><%= "$#{product.discount}" %>
    <% if product.discount %>
      <%= " - 10% off original price" if product.condition == 'good' %>
      <%= " - 20% off original price" if product.condition == 'average' %>
    <% end %></p>
    <p><%= product.category %></p>
    <div class='prod-category'>
      <h4>More</h4>
      <form action="/products/#{id}" method="post">
        <textarea id='body' name='body'></textarea>
        <input type='submit'/>
      </form>

        <p><%= product.quantity %></p>
      </div>
    </a>

  </header>
